.landing-carousel-div {
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
    margin-top: 2vh;
    text-align: center;
}

.carousel-img {
    width: 100%;
    height: 70vh;
}

.carousel-caption {
    background-color: #4d014b;
    opacity: 0.8;
    height: 10vh;
}

button {
    background-color: #4d014b;
    color: white;
    border: 1px solid #4d014b;
    width: 400px;
    height: 6vh;
    font-size: 20px;
    margin-top: 2vh;
}

button:hover {
    background-color: white;
    color: #4d014b;
}