<div class="landing-carousel-div">
    <h3>What do we offer?</h3>
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/images/hotel.jpg"
        alt="Random first slide"
        class="carousel-img"
      />
    </div>
    <div class="carousel-caption">
        <h3>Hotels</h3>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/images/apartment.jpg"
        alt="Random second slide"
        class="carousel-img"
      />
    </div>
    <div class="carousel-caption">
        <h3>Apartments</h3>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/images/resort.jpg"
        alt="Random third slide"
        class="carousel-img"
      />
    </div>
    <div class="carousel-caption">
        <h3>Resorts</h3>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/images/villa.jpg"
        alt="Random third slide"
        class="carousel-img"
      />
    </div>
    <div class="carousel-caption">
        <h3>Villas</h3>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/images/cabin.jpg"
        alt="Random third slide"
        class="carousel-img"
      />
    </div>
    <div class="carousel-caption">
        <h3>Cabins</h3>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/images/cottage.jpg"
        alt="Random third slide"
        class="carousel-img"
      />
    </div>
    <div class="carousel-caption">
        <h3>Cottages</h3>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img
        src="../../../assets/images/farmstay.jpg"
        alt="Random third slide"
        class="carousel-img"
      />
    </div>
    <div class="carousel-caption">
        <h3>Farm stays</h3>
      </div>
  </ng-template>
</ngb-carousel>

<button mat-flat-button (click)="search()">
  Search ads
</button>

</div>


