<mat-card class="create-ad-card">
  <h4>Create ad</h4>
  <mat-card-content>
    <form [formGroup]="adForm">
      <div>
        <mat-form-field id="property-field">
          <mat-label>Property</mat-label>
          <input matInput type="text" readonly formControlName="property"/>
        </mat-form-field>
        <button
          mat-flat-button
          type="button"
          class="in-form-btn"
          (click)="chooseProperty()"
        >
          Choose
        </button>
      </div>
      <div>
        <mat-checkbox class="triple-field" id="duration-cbx" formControlName="durationLimited"
        [(ngModel)]="durationLimited" (change)="durationLimitedChange()">Duration limited</mat-checkbox
        >
        <mat-form-field appearance="fill" class="triple-field date-field">
          <mat-label>Start date</mat-label>
          <input matInput type="date" formControlName="startDate" [min]="minDate"/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="triple-field date-field">
          <mat-label>End date</mat-label>
          <input matInput type="date" formControlName="endDate" [readonly]="!durationLimited" [min]="minDate"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="triple-field" id="guest-preference-field">
          <mat-label>Guest preference</mat-label>
          <mat-select formControlName="guestPreference">
            <mat-option value="Student">Student</mat-option>
            <mat-option value="Family">Family</mat-option>
            <mat-option value="Couple">Couple</mat-option>
            <mat-option value="Working professional">Working professional</mat-option>
            <mat-option value="Not important">Not important</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="triple-field right-field">
          <mat-label>Price per night (&euro;)</mat-label>
          <input matInput type="text" formControlName="pricePerNight"/>
        </mat-form-field>
        <mat-form-field appearance="fill" class="triple-field right-field" id="security-deposit-field">
          <mat-label>Security deposit (&euro;)</mat-label>      
          <input matInput type="text" formControlName="securityDeposit"/>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" id="textarea-field">
          <mat-label>Additional information...</mat-label>
          <textarea matInput formControlName="additionalInfo"></textarea>
        </mat-form-field>
      </div>
      <div id="images-div">
        <div class="upload-btn-wrapper">
          <button mat-flat-button [disabled]="imageObject.length >= 8">
            Add images
          </button>
          <input
            type="file"
            (change)="onFileSelected($event)"
            accept="image/jpeg, image/png"
            multiple
            [disabled]="imageObject.length >= 8"
          />
        </div>
        <div
          *ngIf="imageObject.length != 0"
          fxLayout="row wrap"
          fxLayoutAlign="center"
        >
          <div id="slider">
            <ng-image-slider [images]="imageObject" #slider></ng-image-slider>
          </div>
        </div>
        <div *ngIf="imageObject.length == 0" id="p-div">
          <p id="no-images-p">You have to add some images for this ad.</p>
        </div>
      </div>
      <div id="button-div">
        <button
          mat-flat-button
          type="submit"
          class="submit-button"
          id="submit-button"
          (click)="submit()"
        >
          Create ad
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<div id="bottom-div">
  <img
    mat-card-image
    src="../../../../assets/images/city-landscape.jpg"
    alt="Property renting photo"
    id="bottom-img"
  />
</div>
