.create-ad-card {
  width: 1160px;
  max-height: 450px;
  background-color: #7b1fa2;
  color: white;
  z-index: 5;
  margin-top: 20px;
  margin-left: 180px;
  border: 1px solid #7b1fa2;
}

mat-label {
  color: white;
}

h4 {
  margin-bottom: 4vh;
  text-align: center;
}

#property-field {
  width: 415px;
}

button {
  background-color: white;
  color: #7b1fa2;
  border: 1px solid white;
}

button:hover {
  background-color: #7b1fa2;
  color: white;
}

.in-form-btn {
  margin-left: 2vw;
}

.double-field {
  width: 240px;
}

.triple-field {
  width: 145px;
}

.right-field {
  margin-left: 3vw;
}

.date-field {
  width: 175px;
  margin-left: 28px;
}

.submit-button {
  border: 1px solid white;
  width: 300px;
  background-color: white;
  color: #7b1fa2;
  margin-left: 120px;
  margin-top: 5vh;
}

.submit-button:hover {
  background-color: #7b1fa2;
  color: white;
}

.btn-link {
  border: none;
  color: white;
}

#images-div {
  margin-left: 570px;
  margin-top: -290px;
  border-left: 1px solid white;
}

#duration-cbx {
  width: 100px;
}

#guest-preference-field {
  width: 150px;
}

#security-deposit-field {
  width: 143px;
}

#textarea-field {
  width: 530px;
}

#p-div {
  width: 37vw;
  height: 30vh;
  margin-left: 9.5vw;
}

#no-images-p {
  margin-bottom: 8vh;
  margin-right: 5vw;
}

#add-image-btn {
  background-color: white;
  color: #7b1fa2;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 14vw;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#property-img {
  height: 30vh;
  width: 20vw;
  border: 1px solid white;
}

#bottom-div {
  text-align: center;
  color: #7b1fa2;
  margin-top: 25px;
}

.bottom-img-div {
  display: inline-block;
  margin-top: 25px;
}

.bottom-img {
  width: 230px;
  height: 605px;
}

.mat-option.mat-selected {
  color: white !important;
}

#slider {
  width: 31vw;
  height: 30vh;
  color: #303030;
  margin-left: 3vw;
}
