p {
    color: #4d014b;
}

h5 {
    margin-top: 4vh;
}

table {
    background-color: #4d014b;
    width: 60vw;
    margin-left: 10vw;
    margin-top: 2vw;
}

table th {
    text-align: left;
    width: 8vw;
    padding: 5px;
}

table td {
    text-align: left;
    width: 8vw;
    padding: 5px;
}