<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <div class="sidebar-brand-text mx-3" class="example-app-name">
      Property renting
    </div>
    <div class="topbar-divider d-none d-sm-block"></div>
    <!--Profile dropdown-->
    <div class="ml-auto profile-dropdown">
      <div class="avatar-dropdown" id="icon">
        <i class="fas fa-user-shield"></i>
        <!-- <span class="mr-2 d-lg-inline text-gray-600 small username">{{ username }}</span> -->
        <button class="btn" type="button">
            Don't have an account? Create it!
        </button>
        <button
          class="mr-2 d-lg-inline small logout-button"
        >
          Register
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>
