#box-div {
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    color: #4d014b;
}

#container-div {
    width: 80vw;
    margin: 0 auto;
    
}

#content-div {
    position: absolute;
    margin-top: 3vw;
    width: 80vw;
}

.entity-div {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

p {
    color: #4d014b;
}

h5 {
    margin-top: 4vh;
}

table {
    background-color: #4d014b;
    width: 75vw;
    margin-left: 2vw;
    margin-top: 2vw;
}

table th {
    text-align: left;
    width: 10vw;
    padding: 5px;
    background-color: white;
    color: #4d014b;
    border-top: 1px solid #4d014b;
}

table td {
    text-align: left;
    width: 10vw;
    padding: 5px;
    background-color: #4d014b;
}

button {
    background-color: #424242;
}

button:hover {
    background-color: #4d014b;
}

.location-th {
    width: 16vw !important;
    border-left: 1px solid #4d014b;
}

.location-td {
    width: 16vw !important;
}

.button-th {
    width: 1vw;
}

.button-td {
    width: 1vw;
}

.date-th {
    width: 2vw;
}

.date-td {
    width: 2vw;
}

#pending-th {
    width: 10vw;
}

#pending-td {
    width: 10vw;
}

.last-th {
    border-right: 1px solid #4d014b;
}
