#box-div {
    background-color: white;
    top: 0;
    left: 0;
    height: 100%;
    color: #7b1fa2;
}

#container-div {
    width: 80vw;
    margin: 0 auto;
    
}

#content-div {
    position: absolute;
    margin-top: 3vw;
    width: 80vw;
}

.entity-div {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

p {
    color: #7b1fa2;
}

table {
    width: 40vw;
    margin-left: 20vw;
    margin-top: 2vw;
    background-color: #7b1fa2;
}

table th {
    text-align: left;
    width: 8vw;
}

table td {
    text-align: left;
    width: 8vw;
    background-color: #424242;
}

#create-property-type-btn {
    border: 1px solid white;
}

#create-property-type-btn:hover {
    background-color: white;
    color: #7b1fa2;
    border: 1px solid #7b1fa2;
}

