<div id="container-div">
    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon" id="back-button" (click)="onNoClick()">
        <mat-icon>keyboard_backspace
        </mat-icon>
      </button>
    <h1>Available properties</h1>
    <div id="properties-div">
        <app-choose-property-card *ngFor="let item of properties" [item]='item' (propertyChosen)='onSubmit($event)'></app-choose-property-card>
        <p>Choose properties dialog!</p>
    </div>
</div>
