<div class="dashboard-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="dashboard-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="topbar-divider d-none d-sm-block"></div>
      <div class="sidebar-brand-icon">
        <i class="fas fa-car-side btn-icon"></i>
      </div>
      <div class="sidebar-brand-text mx-3" class="app-name">Property Renting - Admin</div>
      <!--Profile dropdown-->
      <div class="ml-auto profile-dropdown">
        <div class="avatar-dropdown" id="icon">
          <i class="fas fa-user-tie"></i>
          <button mat-flat-button class="toolbar-btn" (click)="logout()">Logout</button>
        </div>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
        <mat-nav-list>
          <a class="link-btn" mat-list-item routerLink="register-property"><span class="material-icons">
            group
            </span>Users</a>
          <hr class="sidebar-divider d-none d-md-block">
          <img class="logo" src="https://cdn.lowgif.com/full/b63ce1f740d2d5bc-mentas-boggle-boggle-mints.gif"
            alt=”animated” />
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

