<div id="container-div">
  <div id="form-holder-div">
    <h3>Verify Email</h3>
    <form [formGroup]="verifyForm">
      <mat-form-field id="email-field">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
      <mat-form-field id="password-field">
        <mat-label>Verification Token</mat-label>
        <input matInput type="text" formControlName="token" />
      </mat-form-field>
      <div id="button-div">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          class="submit-button"
          (click)="submit()"
          id="submit-button"
        >
          Verify
        </button>
      </div>
    </form>
  </div>
</div>
