#container-div {
    top:0;
    left:0;
    padding-top: 0px;
    width:100%;
    height: 100%;
}

#form-holder-div {
    background-color: #4d014b;
    width: 500px;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    padding: 30px;
    margin-bottom: 10.5vh;
    padding-bottom: 20px;
}

h3 {
    color: white;
    margin-bottom: 2vh;
}

mat-form-field {
    width: 400px;
    color: white;
}

.submit-button {
    border: 1px solid white;
    margin-top: 20px;
    width: 400px;
    background-color: white;
    color: #4d014b;
}

.submit-button:hover {
    background-color: #4d014b;
    color: white;
}

#link-div {
    margin-top: 20px;
}

#img-div {
    text-align: center;
}

img {
    height: 200px;
    visibility: hidden;
}

mat-pass-toggle-visibility {
    color: dimgray;
}