.landing-carousel-div {
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
    margin-top: 2vh;
    text-align: center;
}

.carousel-img {
    width: 100%;
    height: 70vh;
}

.carousel-caption {
    background-color: #7b1fa2;
    opacity: 0.8;
    height: 10vh;
}