#container-div {
    width: 100%;
    height: 100%;
    color: white;
}

#textarea-field {
    margin-left: 1vw;
}

button {
    background-color: #4d014b;
}

#create-btn:hover {
    background-color: white;
    color: #4d014b;
}

#close-btn:hover {
    background-color: white;
    color: #4d014b;
}

.ng-star-inserted {
    color: white;
}

.mat-form-field-underline {
    color: white !important;
    background-color: white;
}

.mat-form-field-ripple {
    color: white !important;
    background-color: white;
}