<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <div class="sidebar-brand-text mx-3" class="example-app-name">
      <button mat-flat-button class="home-btn" (click)="router.navigate([''])">Property Renting</button>
    </div>
    <div class="topbar-divider d-none d-sm-block"></div>
    <!--Profile dropdown-->
    <div class="ml-auto profile-dropdown">
      <div class="avatar-dropdown" id="icon">
        <!-- <span class="mr-2 d-lg-inline text-gray-600 small username">{{ username }}</span> -->
        <div class="btn-div">
          <button mat-flat-button class="toolbar-btn" id="sign-in-btn" (click)="login()">
            Sign in
          </button>
          <button mat-flat-button class="toolbar-btn" (click)="register()">Register</button>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
