.table-div {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

p {
    color: #4d014b;
}

h5 {
    margin-top: 4vh;
    text-align: center;
}

table {
    background-color: #4d014b;
    width: 75vw;
    margin-left: 2vw;
    margin-top: 2vw;
}

table th {
    text-align: left;
    width: 10vw;
    padding: 5px;
    background-color: white;
    color: #4d014b;
    border-top: 1px solid #4d014b;
}

table td {
    text-align: left;
    width: 10vw;
    padding: 5px;
    background-color: #4d014b;
}

button {
    background-color: #424242;
    color: white;
    border: 1px solid white;
}

button:hover {
    background-color: #4d014b;
    color: white;
}

#back-button {
    margin-left: 10px;
    position: fixed;
    margin-bottom: -3vw;
    background-color: #4d014b;
    color: white;
}

#back-button:hover {
    background-color: #424242;
    color: white;
}